doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="assets/css/style.css")
        title Page not Found
        block styles 
    body 
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href="#") Unial Solutions
            div.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/admin/add-product", class=(path==='/admin/add-product' ? 'active' : '')) Add product
                    li.nav-item
                        a.nav-link(href="/add-student",class=(path==='/shop' ? 'active' : '')) Shop
        block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js")        