<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
      <div class="container my-2">
      <h1>Page not Found</h1>
       <p>
        This url have no page
       </p>
    </div>
    <%- include('includes/end.ejs') %>