<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <button id="get"> Get Posts</button>
  <button id="post"> Creat a Post</button>
  <script>
    const getButton=document.getElementById('get');
    const postButton=document.getElementById('post');

    getButton.addEventListener('click',()=>{
        fetch('http://localhost:8080/feed2/posts')
.then(res=> res.json())
.then(resData => console.log(resData))
.catch(err=> console.log(err));
    });

    postButton.addEventListener('click',()=>{
        fetch('http://localhost:8080/feed2/posts',{
            method: 'POST',
            body: JSON.stringify({
                title: 'A Codepen Post',
                content: 'Created by ikram'
            }),
            headers:{
                'Content-Type': "application/json"
            }
        })
    });
  </script>
</body>
</html>