<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
      <div class="container my-2">
        <div class="grid">
            <% if (prods.length > 0) { %>
                <% for (let product of prods) { %>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><%= product.title %></h4>
                        <p class="card-text">Some example text. Some example text.</p>
                        <a href="/admin/add-product" class="card-link">Add More product</a>
                    </div>
                    <% } %>
                </div>
            <% } else { %>
            <h1>No products in list</h1>
                <% } %>
        </div>
    </div>
    <%- include('../includes/end.ejs') %>
